<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="llc_decorations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <llc_decorations.Properties.Settings>
            <setting name="connectionString1" serializeAs="String">
                <value>Data Source=DESKTOP-R8EPTUG\SQLEXPRESS;Initial Catalog=DecorationsLazarev;Integrated Security=True;</value>
            </setting>
            <setting name="connectionString" serializeAs="String">
                <value>Data Source=DESKTOP-R8EPTUG\SQLEXPRESS;Initial Catalog=DecorationsLazarev;Integrated Security=True;</value>
            </setting>
            <setting name="Параметр" serializeAs="String">
                <value>Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=DecorationsLazarev;Data Source=MEPHI3-MSSQL</value>
            </setting>
        </llc_decorations.Properties.Settings>
    </userSettings>
</configuration>